In [1]:
import pandas as pd

#### Kiva provided files
- loans.csv
- kiva_mpi_region_locations.csv
- loan_theme_ids.csv
- loan_themes_by_region.csv


- all_kiva_loans: larger version of loans.csv with more rows and some different columns

- mpi_on_regions: amount invested in a region and the biggest problems the said region has to deal with.
    - all_loan_theme_merged_with_geo_mpi_regions: A left join from mpi_on_regions on loan_themes_by_region
- Contribution_of_Deprivations: This table shows which dimensions and indicators contribute most to a region's MPI, which is useful for understanding the major source(s) of deprivation in a sub-national region
- SubNational_Decomposition_MPI_2017_18
    - missing 5.1, 5.2, and 5.4 from the datasource?
- MPI_estimations_country_levels: all MPI data, 5 years, not joined with the Kiva tables
- unique_regions_from_kiva_loan_themes: list of unique regions from Kiva dataset

#### Tasks and Corresponding datasets
1. Filtering by Geography to see relation bt Kiva activity and county’s welfare etc.
     - What countries should Kiva target next? At needy countries with little Kiva activity or at needy countries with successful Kiva activity.
    - Where and what social/economic initiatives could Kiva invest in outside of the product to improve the quality of life for these entrepreneurs.
    - From Kiva loan data we want the count of loans, count of successful loans, loans in each industry etc., lender counts 
    - From country data we want all kinds of quality-of-life/economy measures
    - Maybe bring down to a regional level (Tableau may not support this)
    - country_stats
    
2. Filtering by type of borrower (sex, nationality, Kiva history) to see what borrowers are the most reliable, benefit the most, continue growing their business etc.
3. Filtering through loans by quality to identify patterns of successful or unsuccessful loans.
    - What types of borrowers should be recommended to the loaners? This can help prevent situations where a loan is not paid back and a loaner stops investing because their money was not returned for reinvestment.
    - Why are these loans unsuccessful? What can be done to decrease unsuccessful cases?

## Import

In [74]:
# OG files
og_kiva_loans = pd.read_csv('OG_kiva/kiva_loans.csv') # Kiva product data
og_kiva_mpi_region_locations = pd.read_csv('OG_kiva/kiva_mpi_region_locations.csv') # metadata about location
og_loan_theme_ids = pd.read_csv('OG_kiva/loan_theme_ids.csv') # aggregated theme info
og_loan_themes_by_region = pd.read_csv('OG_kiva/loan_themes_by_region.csv') # detailed partner and theme info
                                                           
# Derived files
kiva_loans = pd.read_csv('mpi-on-regions/all_kiva_loans.csv') # version of kiva_loans
loan_themes_by_region_JOIN_mpi_regions = pd.read_excel('mpi-on-regions/all_loan_theme_merged_with_geo_mpi_regions.xlsx')
country_stats = pd.read_csv('mpi-on-regions/country_stats.csv')
mpi_on_regions = pd.read_excel('mpi-on-regions/mpi_on_regions.xlsx')
unique_region_country = pd.read_excel('mpi-on-regions/unique_regions_from_kiva_loan_themes.xlsx')

# Dirty data. Missing values, unnamed columns
Contribution_of_Deprivations = pd.read_csv('mpi-on-regions/Tables_5.3_Contribution_of_Deprivations.csv', encoding = "ISO-8859-1")
SubNational_Decomposition_MPI_2017_18 = pd.read_excel('mpi-on-regions/Tables_5_SubNational_Decomposition_MPI_2017-18.xlsx')
MPI_estimations_country_levels = pd.read_excel('mpi-on-regions/Tables_7_MPI_estimations_country_levels.xlsx')

## Task 1

In [73]:
unique_regions_from_kiva_loan_themes

,geo,City,Administrative Region,Sub-national region,Country
0,"(31.628871, 65.7371749)",Kandahar,Kandahar,Kandahar,Afghanistan
1,"(41.11023, 20.0866554)",Elbasan,Elbasan County,Elbasan,Albania
2,"(40.6140785, 20.7778071)",Korçë,Korçë County,Korçë,Albania
3,"(41.1829232, 20.3174769)",Librazhd,Qarku i Elbasanit,Qarku i Elbasanit,Albania
4,"(41.6412644, 19.705595)",Laç,Qarku i Lezhës,Qarku i Lezhës,Albania
5,"(-14.2870471, -170.7179767)",Fagasa,Eastern,Eastern,American Samoa
6,"(-34.6006049, -58.4066273)",Buenos Aires,Buenos Aires,Buenos Aires,Argentina
7,"(-32.94405, -60.715827)",Rosario,Santa Fe,Santa Fe,Argentina
8,"(40.3328557, 44.0706326)",Agarakavan,Aragatsotn Province,Aragatsotn,Armenia
9,"(39.9139415, 44.7200004)",Vedi,Ararat Province,Ararat,Armenia
10,"(40.1554631, 44.0372446)",Armavir,Armavir Province,Armavir,Armenia
11,"(40.3513253, 45.12726749999999)",Gavar,Gegharkunik Province,Gegharkunik,Armenia
12,"(40.5410214, 44.7690148)",Hrazdan,Kotayk Province,Kotayk,Armenia
13,"(40.96984519999999, 44.4900138)",NaN,Lori Province,Lori,Armenia
14,"(40.592612, 43.7043674)",Aghin,Shirak Province,Shirak,Armenia
15,"(39.144351, 46.141533)",Kajaran,Syunik Province,Syunik,Armenia
16,"(40.7405524, 44.8625965)",Dilijan,Tavush Province,Tavush,Armenia
17,"(39.7377891, 45.3512587)",Agarakadzor,Vayots Dzor Province,Vayots Dzor,Armenia
18,"(40.1791857, 44.4991029)",Yerevan,Yerevan,Yerevan,Armenia
19,"(40.40926169999999, 49.8670924)",Bakı,Absheron,Absheron,Azerbaijan
20,"(40.6335427, 47.467431)",Agdash,Aran,Aran,Azerbaijan
21,"(39.6024762, 47.1523402)",NaN,Fuzuli,Fuzuli,Azerbaijan
22,"(17.1639621, -89.05137769999999)",Santa Elena,Cayo District,Cayo,Belize
23,"(18.466994, -88.467113)",NaN,Corozal District,Corozal,Belize
24,"(17.493521, -88.92431599999999)",NaN,Orange Walk District,Orange Walk,Belize
25,"(16.6609704, -88.5208443)",Georgetown,Stann Creek District,Stann Creek,Belize
26,"(16.2742144, -89.01614080000002)",Crique jute,Toledo District,Toledo,Belize
27,"(9.3466822, 2.6090043)",Parakou,Borgou,Borgou,Benin
28,"(27.4727924, 89.6392863)",Thimphu,Thimphu,Thimphu,Bhutan
29,"(-20.0249144, -64.1478236)",NaN,Departamento de Chuquisaca,Chuquisaca,Bolivia
...,...,...,...,...,...
688,"(16.7943986, 106.9632803)",NaN,Quảng Trị (North Central Coast),North Central Coast,Vietnam
689,"(21.1219095, 104.053676)",NaN,Sơn La (Northwest),Northwest,Vietnam
690,"(11.3830967, 106.0522616)",NaN,Tây Ninh (Southeast),Southeast,Vietnam
691,"(20.4112353, 106.5780817)",NaN,Thái Bình (Red River Delta),Red River Delta,Vietnam
692,"(21.6049089, 105.8192366)",Thành phố Thái Nguyên,Thái Nguyên (Northeast),Northeast,Vietnam
693,"(19.5655556, 105.6582144)",NaN,Thanh Hoá (North Central Coast),North Central Coast,Vietnam
694,"(16.481934, 107.575271)",Thành phố Huế,Thừa Thiên Huế (North Central Coast),North Central Coast,Vietnam
695,"(21.5862164, 105.3272177)",NaN,Tuyên Quang (Northeast),Northeast,Vietnam
696,"(21.7115214, 104.8873937)",Thành phố Yên Bái,Yên Bái (Northwest),Northwest,Vietnam
697,"(12.7854969, 45.0186548)",Aden,Aden,Aden,Yemen
698,"(14.7909118, 42.9708838)",Al Hudaydah,Al Hudaydah,Al Hudaydah,Yemen
699,"(14.5455447, 44.4087348)",Dhamar,Dhamar,Dhamar,Yemen
700,"(16.9304135, 49.36531489999999)",NaN,Hadhramaut,Hadhramaut,Yemen
701,"(13.9720929, 44.1625338)",Ibb,Ibb,Ibb,Yemen
702,"(15.4409564, 44.1252494)",Sana'a,Sana'a,Sana'a,Yemen
703,"(15.3694451, 44.1910066)",Sana'a,Sana'a City,Sana'a City,Yemen
704,"(-14.9402321, 28.0186087)",NaN,Central,Central,Zambia
705,"(-12.3723284, 27.8370041)",Chililabombwe,Copperbelt,Copperbelt,Zambia
706,"(-11.1892053, 28.8888064)",Mansa,Luapula,Luapula,Zambia
707,"(-15.3657129, 29.2320784)",NaN,Lusaka,Lusaka,Zambia
708,"(-11.2372581, 24.2687687)",Ikelenge,Northwestern,Northwestern,Zambia
709,"(-17.8555437, 30.9403158)",Harare,Harare,Harare,Zimbabwe
710,"(-19.3211383, 31.4399041)",Buhera,Manicaland,Manicaland,Zimbabwe
711,"(-16.6608616, 30.703379)",Guruve,Mashonaland Central,Mashonaland Central,Zimbabwe
712,"(-18.7221963, 30.9876321)",NaN,Mashonaland East,Mashonaland East,Zimbabwe
713,"(-16.3255084, 29.6035495)",NaN,Mashonaland West,Mashonaland West,Zimbabwe
714,"(-21.0333486, 31.67963919999999)",Chiredzi,Masvingo,Masvingo,Zimbabwe
715,"(-18.9991892, 28.90045529999999)",Nkayi,Matabeleland North,Matabeleland North,Zimbabwe
716,"(-20.5572222, 28.5125)",NaN,Matabeleland South,Matabeleland South,Zimbabwe
717,"(-17.46379, 28.8596804)",NaN,Midlands,Midlands,Zimbabwe

In [34]:
num_loans_by_country = kiva_loans.groupby(['country']).count()[['id']]

In [43]:
kiva_loans.head(1)

,id,funded_amount,loan_amount,activity,sector,use,country_code,country,region,currency,partner_id,posted_time,disbursed_time,funded_time,term_in_months,lender_count,tags,borrower_genders,repayment_interval,date
0,653051,300.0,300.0,Fruits & Vegetables,Food,"To buy seasonal, fresh fruits to sell.",PK,Pakistan,Lahore,PKR,247.0,2014-01-01 06:12:39+00:00,2013-12-17 08:00:00+00:00,2014-01-02 10:06:32+00:00,12.0,12,NaN,female,irregular,2014-01-01

In [47]:
num_loans_lenders_by_country = kiva_loans.groupby(['country']).agg({'id':'count','lender_count':'sum'})

In [53]:
kiva_loans.groupby(['country','borrower_genders']).count()[['id']]

                                        id
country     borrower_genders
Afghanistan female                       2
Albania     female                    1018
            male                       899
Armenia     female                    5383
            male                      3245
...                                    ...
Zimbabwe    male, female, female         1
            male, female, male           1
            male, male, female, male     1
            male, male, male             1
            male, male, male, female     1

[17988 rows x 1 columns]